<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Consultant Backend Engineer at
      <a class="underline-link" href="https://www.springworks.in/" target="_blank">Springworks</a> building amazing solutions for the web with some awesome people. Before which I worked at
      <a class="underline-link" href="https://www.schoolofacceleratedlearning.com/" target="_blank">SOAL</a> where I was also a full stack developer student. I graduated from
      <a class="underline-link" href="https://jntuh.ac.in/" target="_blank">JNTU</a>, in the year 2018. I was also a part
      <a class="underline-link" href="https://www.techmahindra.com/en-in/?f=4129721454" target="_blank">Tech Mahindra</a>, during college where I mostly on Data Analysis.
    </p>

    <p>
      I tried solving the problem of medical errors and unexpected casualties using <a class="underline-link">MedSafe</a>. I built this application 
      to help doctors get the right information about a patient at the right time.
    </p>
    <p>
      As a software engineer, my goal is to use technology and make lives as convenient as possible. Combining my technical acumen and ability
      to come up with efficient solutions, I am always looking to come up with applications which are scalable right from the core. 
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing with dogs, playing video games or taking a nap.
    </p>

  </div>
</section>
